//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 25 17:27:48 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "PUSH" LOCATE = SITE "P79" LEVEL 1;
COMP "LED0" LOCATE = SITE "P46" LEVEL 1;
COMP "LED1" LOCATE = SITE "P47" LEVEL 1;
COMP "LED2" LOCATE = SITE "P48" LEVEL 1;
COMP "LED3" LOCATE = SITE "P49" LEVEL 1;
COMP "LED5" LOCATE = SITE "P51" LEVEL 1;
COMP "LED6" LOCATE = SITE "P54" LEVEL 1;
COMP "LED7" LOCATE = SITE "P55" LEVEL 1;
COMP "LEDC" LOCATE = SITE "P50" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P129" LEVEL 1;
COMP "RESET" LOCATE = SITE "P80" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

